<h1>Admin » Dashboard</h1>

<div class="well">
<p><b>NUMBER OF PRODUCTS:</b> <a href='/admin/products'><%= @product_count %></a></p>
<p> <b>NUMBER OF CATEGORIES:</b> <a href='/admin/categories'><%= @category_count %></a></p>
</div>
